.form {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  border-bottom: 3px solid black;
  width: 20%;
  margin-bottom: 15px;
}

.submit {
  margin-top: 3%;
  width: 20%;
  margin-left: 41.2%;
}